* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: #a87300;
    font-family: Gill Sans MT;
}

html,
body {
    overflow: hidden;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
    border: 1.5px solid #a87300;
    border-radius: 10px;
    padding: 5px 16px 5px 16px;
    margin-top: 70px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

div {
    display: flex;
    align-items: center;
}

span {
    margin: 10px
}

img {
    margin-top: 30px;
    width: 500px;
    height: 500px;
}